Alanguage = "bash"
run = "mcs -out:Main.exe './Aula_0727/Program.cs' './Aula_0727/Categoria.cs' './Aula_0727/Produto.cs'  './Aula_0727/Cliente.cs'  './Aula_0727/NCategoria.cs' './Aula_0727/NProduto.cs' './Aula_0727/NCliente.cs' ; mono Main.exe"
#run = "python3 ./Aula_0722/Program.py"
#run = "g++ -o main.exe ./Aula_0519/extipos.cpp ; ./main.exe"
#run = "javac ./Aula_0527/lista03ex02.java -d ./ ; java Program"
