Alanguage = "bash"
run = "mcs -out:Main.exe './Aula_0728/Program.cs' './Aula_0728/Categoria.cs' './Aula_0728/Produto.cs'  './Aula_0728/Cliente.cs' './Aula_0728/Usuario.cs'  './Aula_0728/NCategoria.cs' './Aula_0728/NProduto.cs' './Aula_0728/NCliente.cs' './Aula_0728/NUsuario.cs' ; mono Main.exe"
#run = "python3 ./Aula_0722/Program.py"
#run = "g++ -o main.exe ./Aula_0519/extipos.cpp ; ./main.exe"
#run = "javac ./Aula_0527/lista03ex02.java -d ./ ; java Program"
